@media screen and (min-width:  320px){

body{
	background-color: black;
	/*font-family: 'Playfair Display', serif;*/
}
}

@media screen and (min-width:  320px){

nav {
	color: whitesmoke;
	position: relative;
	width: 100vw;
	font-family: 'Montserrat', sans-serif;
}

ul{
	list-style-type: none;
}

li{
	float: right;
}

li a {
	display: block;
	color: #F9EDEA;
	text-align: center;
	padding-top: 2.5vw;
	padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
	margin-right: 5vw;
	text-decoration: none;
	font-size: 0.9em; 
}

li a:hover{
	background-color: lightgray;
	opacity: 0.5;
}

a {
	text-decoration: none;
} 

#name{
	color: #F9EDEA;
	float: left;
	font-family: 'Expletus Sans', cursive;
	font-size: 3vw;
	position: absolute;
	top: 2.5vw;
	left: 3vw;
	text-indent: 2vw;
	letter-spacing: 0.7vw;
	word-spacing: 1vw;

}
}

#container {
	display: grid;
}

.row {
	display: flex;
	position: absolute;
	top: 200px;

}

.row1{
	display: flex;
	position: absolute;
	top: 200px;
}

.row2{
	display: flex;
	position: absolute;
	top: 150px;
}

.column{
	flex: 80%; 
	max-width: 80%;
	margin-left: 4.5vw;
	margin-bottom: 40px;
}

.column1{
	flex: 70%; 
	max-width: 70%;
}

.column2{
	flex: 70%; 
	max-width: 70%;

}

.column img{
	margin-top: 50px;
	margin-bottom: 7px;
	vertical-align: baseline;
	width: 60%;
	border-style: double;
	border-color: whitesmoke;
	border-width: 2px;
}

.column1 img{
	margin-top: 1.5vw;
	margin-bottom: 3vw;
	margin-left: 45vw;
	vertical-align: baseline;
	width: 70%;
	border-style: double;
	border-color: whitesmoke;
	border-width: 2px;
}

.column2 img{
	margin-top: 1.5vw;
	margin-bottom: 3vw;
	margin-left: 2vw;
	vertical-align: baseline;
	width: 80%;
	border-style: double;
	border-color: whitesmoke;
	border-width: 2px;

}

@media screen and (min-width:380px;) {
  .column{
  	flex: 50%;
  	max-width: 50%;
  	position: absolute;
  	top: 200px;
  	left: 200px;
  }
  
}

@media screen and (min-width: 320px) {

.heading{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	position: absolute;
	top:10vw;
	left: 5vw;
	word-spacing: 1vw;
}


.par{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 20vw;
	left: 60vw;
	text-align: left;
	margin-right: 5.5vw;
	word-spacing: 0.5vw; 
	line-height: 3vw;
}

.bio_par{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 12vw;
	left: 6vw;
	text-align: left;
	margin-right: 5.5vw;
	word-spacing: 0.5vw; 
	line-height: 3vw;
	max-width: 35vw;
}
}
