#name{
	background: blue;
	color: darkred;
	font-size: 50px;
	position: relative; top: 10px; left: 400px;

	
}


.background{
	background-image: linear-gradient(#F4DEE2,#C5D9F5); 
	height: 100%;
	width: 100%;

}