#name{
	background: blue;
	color: darkred;
	font-size: 50px;
	text-align: center;
	margin-top: 10px;

	
}


.background{
	background-image: linear-gradient(#F4DEE2,#C5D9F5); 
	height: 100%;
	width: 100%;

}