#name{
	color: darkred;
	font-size: 70px;
	text-align: center;
	margin: auto;
	width: 50%;
	border: 4px solid slateblue;
}

.background{
	background-image: linear-gradient(#F4DEE2,#C5D9F5); 
	margin: 0;
	

}

.A1{
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	color: darkblue;
	border: 3px dashed slateblue;
}

.A2{
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	color: darkblue;
	border: 3px dashed slateblue;
}

.A4{
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	color: darkblue;
	border: 3px dashed slateblue;
}