.background{
	background: lightgreen;
}

#hair{
	border-radius: 10px;
	height: 80px;
	width: 230px;
	background-color: #291D12;
	position: fixed;
	top: 220px;
	left: 500px;
}

#face{
	border-radius: 30px;
	height: 250px;
	width: 230px;
	background-color: #D1955C;
	position: fixed;
	top: 250px;
	left: 500px;


}

#eyes{
	font-size: 50px;
	text-align: center;
}
