.background{
	background: lightgreen;
}

#hair{
	border-radius: 10px;
	height: 100px;
	width: 240px;
	background-color: #291D12;
	position: fixed;
	top: 220px;
	left: 500px;
}

#face{
	border-radius: 30px;
	height: 250px;
	width: 240px;
	background-color: #D1955C;
	position: fixed;
	top: 250px;
	left: 500px;

}

.lefteye{
	font-size: 50px;
	border-radius: 50px;
	height: 100px;
	width: 150px;
	background-color: brown;
	position: fixed;
	top: 500px;
	left: 500px;


}
